.navbar{
    background-color: rgb(240, 233, 233);;
    height: 80px;
}

.row{
    padding: 30px;

}
.menu{
    background-color: rgb(240, 233, 233);
    height: 300px;
    margin: auto;

    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  
    box-shadow:         3px 3px 5px 6px #ccc;
}

.main{
    margin: auto;

    height: 300px;
    background-color: rgb(184, 179, 179);

    -webkit-box-shadow: 3px 3px 4px 5px #ccc;  
    -moz-box-shadow:    3px 3px 4px 5px #ccc;  
    box-shadow:         3px 3px 4px 5px #ccc;
}

.main-container{
    overflow: hidden;
}

.list-group{
    padding-top: 30px;
}

.inactive:hover{
    background-color: rgb(235, 223, 223);
}

.inactive{
    transition: ease-in-out 0.5s;
}

.navbar div button
{
    background-color: #999999;
    color: white;
    border-radius: 12px;
    border: none;
    padding: 10px;
}
