.navbar{
    background-color: rgb(240, 233, 233);;
    height: 80px;
}

.row{
    padding: 30px;

}
.menu{
    
    margin: auto;
    padding-bottom: 30px;
}

.main{
    margin: auto;
    padding: 80px;

}

.main-container{
    overflow: hidden;
}

.list-group{
    padding-top: 30px;
}

.inactive:hover{
    background-color: rgb(235, 223, 223);
}

.inactive{
    transition: ease-in-out 0.5s;
}

.navbar div button
{
    background-color: #999999;
    color: white;
    border-radius: 12px;
    border: none;
    padding: 10px;
}


.nav-link{
    cursor: pointer;
}